*{
    margin: 0;
    list-style: none;
    padding: 0; 
    text-decoration: none; 
}

.footer{
    width: 100vw; 
    display: block; 
    overflow: hidden; 
    padding: 70px 0; 
    box-sizing: border-box; 
    background-color: #18181a;
}

.inner_footer{
    display: block; 
    margin: 0 auto; 
    width: 1100px;
    height: 100%;
}

.inner_footer .logo_container { 
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}

.inner_footer .logo_container img{
    width: 60px; 
    height: auto;
}

.inner_footer .footer_third{
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left; 
    height: 100%;
}
        
.inner_footer .footer_third:last-child{ 
    margin-right: 0; 
}
        
.inner_footer .footer_third h1{ 
    font-family: 'arial'; 
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
        
.inner_footer .footer_third h1{
    font-family: 'arial';
    font-size: 22px; 
    color: white;
    display: block;
    width: 100%; 
    margin-bottom: 20px;
}
        
.inner_footer .footer_third a{
    font-family: 'arial';
    font-size: 18px; 
    color: white;
    display: block;
    font-weight: 200;
    width: 100%; 
    margin-bottom: 20px;
}

.inner_footer .footer_third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}

.inner_footer .footer_third span{
    color:white;
    font-family: 'arial';
    font-size: 18px; 
    font-weight: 200;
    display: block; 
}
.new_footer_area {
    background: #202041;
   
}
.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
        
